<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body>
<div class="container mx-auto w-4/5">
    <header th:replace="~{layout::header}"></header>
    <nav th:replace="~{layout::navigation}"></nav>
    <div  class="flex justify-between p-5 border-solid border-2 border-black">Home</div>
    <section>
        Selamat datang di Troll Market.

        Ini adalah market place yang tidak pernah ada promosi dan diskon.
        Karena ini hanya assigment buat kalian, jadi buat apa ada diskon.
    </section>
</div>
</body>
</html>